<!-- <button (click)="fireEvent($event)">click</button>

<button (mouseover)="fireEvent($event)">mouseover</button>

<button (mouseup)="fireEvent($event)">mosedown</button>

<button (drag)="fireEvent($event)">drag</button>

<button (click)="changeValue()">event</button> <br>
<p>{{text}}</p>
<div *ngIf="value">hello value</div>
<ul>
    <li *ngFor="let user of users">{{user}}</li>
</ul>
 -->

<h1>users from json folder</h1>
<form (submit)="onSubmit(isEdit)">
    <div class="form-group">
        <label>Name :</label>
        <input 
        type="text" 
        class=" form-cotrol"
        [(ngModel)]="user.name"
         name="name" >
    </div>
    <div class="form-group">
        <label>Emai :</label>
        <input 
        type="text" 
        class=" form-cotrol"
        [(ngModel)]="user.email"
            name="email" >
    </div>
    <div class="form-group">
        <label>Phone :</label>
        <input 
        type="text" 
        class=" form-cotrol"
        [(ngModel)]="user.phone"
            name="phone" >
    </div>
    <input type="submit" class=" btn btn-success"  value="submit">
</form>
<br>
<div  *ngFor="let user of users">
    <div class="well">
    <ul class="list-group">
        <li class="list-group-item">
            {{user.name}}
        </li>
        <li class="list-group-item">
            {{user.email}}
        </li>
        <li class="list-group-item">
            {{user.phone}}
        </li>
    </ul>
    <button (click)="onEditClick(user)" 
    class="btn btn-primary btn-sm ">edit</button>
    <button (click)="onDeleteClick(user.id)" 
    class="btn btn-danger btn-sm ">delete</button><br><br>
</div>
</div>
<br>

    
 